<div class="top col-md-12" style="width:100%;">
  <div class="logo">
    <center> <%= image_tag('ML-logo.png', id: 'logo') %> </center>
    <center><h1>FULL STACK DEVELOPMENT</h1></center>
  </div>
</div>

<div class="projects clearfix">
  <div class="col-md-6"><h1>Work</h1></div>
  <div class="col-md-6" id="tennis">
    <%= image_tag('tennis_ball.png', id: 'tennis') %>
    <center><h1>Let's Play Tennis</h1></center>
    <center><h3>Ruby on Rails, CSS, HTML, Javascript, JQuery</h3></center>
  </div>
</div>
<div class="contact clearfix">
  <%= form_for(@contact) do |f| %>
    <div class="form-group row">
      <div class="col-md-2 col-md-offset-2">
         <%= f.label :name %>
       </div>
       <div class="col-md-6">
         <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2 col-md-offset-2">
        <%= f.label :email %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
    <div class="col-md-2 col-md-offset-2">
      <%= f.label :message %>
    </div>
    <div class="col-md-6">
      <%= f.text_area :message, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 col-md-offset-2">
      <%= f.submit 'Send Message', class: 'btn btn-default' %>
    </div>
  </div>
  <% end %>
</div>
