<!DOCTYPE html>
<html>
<head>
  <title>mlouie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src='main.js'></script>
  <script type="text/javascript" src="js/startstop-slider.js"></script>
</head>
<body>

  <% if notice %>
    <%= notice %>
  <% end %>
  <%= yield %>
</body>
</html>
